* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
/*  background: rgb(143, 186, 202);*/

    background:
        linear-gradient(135deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
        linear-gradient(225deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
        background-color:rgb(143, 186, 202);
        background-size: 64px 128px
}

body form {
    font-family: "Roboto", Arial;
}

.wrap {
  width: 90%;
  max-width: 500px;
  padding: 40px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 0px 3px grey;
}

.contenedor-formulario {
  width: 100%;
  color: #f2f2f2;
  padding: 10px;
}
.contenedor-formulario .formulario {
  width: 100%;
  margin: auto;
}
.contenedor-formulario .formulario .input-group {
  position: relative;
  margin-bottom: 32px;
}
.contenedor-formulario .formulario .input-group input[type="text"],
.contenedor-formulario .formulario .input-group input[type="email"],
.contenedor-formulario .formulario .input-group input[type="password"] {
  font-family: "Roboto", Arial;
  font-size: 16px;
  color: rgb(0, 120, 150);
  width: 100%;
  outline: none;
  padding: 15px;
  background: none;
  border: none;
  border-bottom: 2px solid #BBDEFB;
}
.contenedor-formulario .formulario .input-group input[type="text"]:focus, .contenedor-formulario .formulario .input-group input[type="text"]:active,
.contenedor-formulario .formulario .input-group input[type="email"]:focus,
.contenedor-formulario .formulario .input-group input[type="email"]:active,
.contenedor-formulario .formulario .input-group input[type="password"]:focus,
.contenedor-formulario .formulario .input-group input[type="password"]:active {
  outline: none;
  border-bottom: 2px solid rgb(0, 120, 150);
}
.contenedor-formulario .formulario .input-group input[type="text"].error,
.contenedor-formulario .formulario .input-group input[type="email"].error,
.contenedor-formulario .formulario .input-group input[type="password"].error {
  border-bottom: 2px solid #D32F2F;
}
.contenedor-formulario .formulario .input-group input[type="text"].error + label,
.contenedor-formulario .formulario .input-group input[type="email"].error + label,
.contenedor-formulario .formulario .input-group input[type="password"].error + label {
  color: #D32F2F;
}
.contenedor-formulario .formulario .input-group label {
  color: rgb(0, 120, 150);
}
.contenedor-formulario .formulario .input-group label.label {
  transition: all 0.3s ease;
  margin-left: 15px;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  top: 16px;
  left: 0;
}
.contenedor-formulario .formulario .input-group label.label.active {
  top: -12px;
  font-size: 12px;
  line-height: 12px;
  color: #B6B6B6;
}
.contenedor-formulario .formulario .input-group.checkbox label, .contenedor-formulario .formulario .input-group.radio label {
  display: inline-block;
  cursor: pointer;
  color: rgb(0, 120, 150);
  position: relative;
  padding: 5px 15px 5px 51px;
  font-size: 1em;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.contenedor-formulario .formulario .input-group.checkbox label:hover, .contenedor-formulario .formulario .input-group.radio label:hover {
  background: #bbdefb;
}
.contenedor-formulario .formulario .input-group.checkbox label:before, .contenedor-formulario .formulario .input-group.radio label:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  position: absolute;
  left: 15px;
  border-radius: 50%;
  background: none;
  border: 2px solid rgb(0, 120, 150);
}
.contenedor-formulario .formulario .input-group.error label {
  color: #D32F2F;
}
.contenedor-formulario .formulario .input-group.error label:hover {
  background: rgba(211, 47, 47, 0.2);
}
.contenedor-formulario .formulario .input-group.error label:before {
  border: 2px solid #D32F2F;
}
.contenedor-formulario .formulario .input-group.radio input[type="radio"] {
  display: none;
}
.contenedor-formulario .formulario .input-group.radio input[type="radio"]:checked + label:before {
  display: none;
}
.contenedor-formulario .formulario .input-group.radio input[type="radio"]:checked + label {
  padding: 5px 15px;
  background: rgb(0, 120, 150);
  border-radius: 2px;
  color: #f2f2f2;
}
.contenedor-formulario .formulario .input-group.checkbox label:before {
  border-radius: 3px;
}
.contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"] {
  display: none;
}
.contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked + label:before {
  display: none;
}
.contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked + label {
  background: rgb(0, 120, 150);
  color: #f2f2f2;
  padding: 5px 15px;
}
.contenedor-formulario .formulario input[type="submit"] {
  background: rgb(0, 120, 150);
  border-radius: 1px;
  border: 2px solid #f2f2f2;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", Arial;
  font-size: 16px;
  padding: 15px;
  width: 100%;
  transition: all 0.3s ease;
}
.contenedor-formulario .formulario input[type="submit"]:hover {
  background: #1976D2;
}

.titulo {
        color: rgb(0, 120, 150); 
        text-align: center;
}

form a{
        color: rgb(80, 119, 136);
        text-decoration:none;
	line-height:normal;
        font-weight:bold;
        -webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

form a:hover {
        color: orange;
}

.aviso {
        color: rgb(143, 186, 202);
}

/*Pagina Fondo*/

header {
        width: 100%;
        overflow: hidden;
        background: rgb(0, 120, 150);
        margin-bottom: 20px;
}

.wrapper {
        width: 90%;
        max-width: 1200px;
        margin: auto;
        overflow: hidden;
}

header .logo {
        color: orange;
    /*color: rgb(0, 200, 35);*/
        font-size: 50px;
        line-height: 200px;
        float: left;
}


header nav {
        float: right;
        line-height: 200px;
}

header nav a {
        display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

header nav a:hover {
        background: #fff;
        color: rgb(0, 120, 150);
        border-radius: 10px;
}

.headerdin {
        height: 80px;
}

.headerdin .logo{
        line-height: 80px;
        font-size: 30px;
}

.headerdin nav {
        line-height: 80px; 
}

@media screen and (max-width: 950px){
        header .logo,
        header nav {
            width: 100%;
            text-align: center;
            line-height: 100px;
        }
        
        .headerdin {
            height: auto;
        }
        
        .headerdin, .logo,
        .headerdin nav {
            line-height: 50px;
        }
}